<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oppo.pay.paysettle.dao.SettleShareMapper" >
  <resultMap id="BaseResultMap" type="com.oppo.pay.paysettle.entity.SettleShare" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="ratio_rate" property="ratioRate" jdbcType="DOUBLE" />
    <result column="channel_rate" property="channelRate" jdbcType="DOUBLE" />
    <result column="share_ratio" property="shareRatio" jdbcType="DOUBLE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, user_name, ratio_rate, channel_rate, share_ratio, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from settle_share
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from settle_share
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.oppo.pay.paysettle.entity.SettleShare" >
    insert into settle_share (id, user_id, user_name, 
      ratio_rate, channel_rate, share_ratio, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{ratioRate,jdbcType=DOUBLE}, #{channelRate,jdbcType=DOUBLE}, #{shareRatio,jdbcType=DOUBLE}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.oppo.pay.paysettle.entity.SettleShare" >
    insert into settle_share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="ratioRate != null" >
        ratio_rate,
      </if>
      <if test="channelRate != null" >
        channel_rate,
      </if>
      <if test="shareRatio != null" >
        share_ratio,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ratioRate != null" >
        #{ratioRate,jdbcType=DOUBLE},
      </if>
      <if test="channelRate != null" >
        #{channelRate,jdbcType=DOUBLE},
      </if>
      <if test="shareRatio != null" >
        #{shareRatio,jdbcType=DOUBLE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oppo.pay.paysettle.entity.SettleShare" >
    update settle_share
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ratioRate != null" >
        ratio_rate = #{ratioRate,jdbcType=DOUBLE},
      </if>
      <if test="channelRate != null" >
        channel_rate = #{channelRate,jdbcType=DOUBLE},
      </if>
      <if test="shareRatio != null" >
        share_ratio = #{shareRatio,jdbcType=DOUBLE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oppo.pay.paysettle.entity.SettleShare" >
    update settle_share
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      ratio_rate = #{ratioRate,jdbcType=DOUBLE},
      channel_rate = #{channelRate,jdbcType=DOUBLE},
      share_ratio = #{shareRatio,jdbcType=DOUBLE},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>